=simple_form_for current_user, url: { action: "update_email", anchor: 'privacy' }, method: :patch, class: 'general-form-md' do |f|
  .form-group.mb-35
    =f.input :email, placeholder: "Enter your email", class: 'form-control', id: 'email'
  .general-text-align
    =f.button :submit, class: 'btn btn-default mb-35'