=simple_form_for current_user, url: { action: "update_password" }, method: :patch, class: 'general-form-md' do |f|
  .form-group.mb-30
    =f.input :current_password, placeholder: "Current Password", class: 'form-control', id: 'oldPassword'
  .form-group.mb-30
    =f.input :password, placeholder: "New Password", class: 'form-control', id: 'password'
  .form-group.mb-40
    =f.input :password_confirmation, placeholder: "Confirm Password", class: 'form-control', id: 'confirmPassword'
  .general-text-align
    =f.button :submit, class: 'btn btn-default mb-35'