%td
  .input-group
    %a.input-link{href: "#"}
      %i.fa.fa-minus.line-height-40
    %input.form-control.quantity-input{type: "text"}
    %a.input-link{href: "#"}
      %i.fa.fa-plus.line-height-40