<!DOCTYPE html>
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %title Bookstore
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet"}
    %link{href: "../css/style.css", rel: "stylesheet"}
  %body    
    %main.container
      %h1.general-title-margin Сatalog
      .hidden-xs.clearfix
        .pull-right
          .dropdown.width-240
            %a.dropdown-toggle.dropdown-btn{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
              Newest first
              %i.fa.fa-angle-down.dropdown-icon
            %ul.dropdown-menu
              %li
                =sort_link("created_at", "desc", "Newest first")
              %li
                %a{href: "#"} Popular first
              %li
                =sort_link("price", "desc", "Price: Hight to low")
              %li
                =sort_link("price", "asc", "Price: Low to hight")
        %ul.list-inline.pt-10.mb-25.mr-240
          %li.mr-35
            %a.filter-link{href: catalog_index_path}
              All
              %span.badge.general-badge 
                =Book.count
          - @category.each do |category|
            %li.mr-35
              %a.filter-link{href: catalog_path(category)}
                = category.name
                %span.badge.general-badge
                  = category.books_in_category
      .mb-40.visible-xs
        %p.in-grey-600.small.mb-10 Filter by category
        .dropdown.mb-20
          %a.dropdown-toggle.dropdown-btn{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
            Newest first
            %i.fa.fa-angle-down.dropdown-icon
          %ul.dropdown-menu
            %li
              %a{href: "#"} Newest first
            %li
              %a{href: "#"} Popular first
            %li
              %a{href: "#"} Price: Low to hight
            %li
              %a{href: "#"} Price: Low to hight
        %p.in-grey-600.small.mb-10 Sort by
        .dropdown
          %a.dropdown-toggle.dropdown-btn{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
            Newest first
            %i.fa.fa-angle-down.dropdown-icon
          %ul.dropdown-menu
            %li
              %a{href: "#"} Newest first
            %li
              %a{href: "#"} Popular first
            %li
              %a{href: "#"} Price: Low to hight
            %li
              %a{href: "#"} Price: Low to hight
      
      =render "catalog_list"
      
    %script{src: "https://use.fontawesome.com/67602d7308.js"}
    %script{src: "../../javascripts/jquery.js"}
    %script{src: "../../javascripts/bootstrap.js"}
