%main.container.general-main-wrap      
  =render 'steps', steps: @steps
  %h3.general-subtitle Delivery
  .visible-xs
  = form_tag checkout_path, class: 'delivery_form', method: :patch do
    .hidden-xs.mb-res-50
      = render 'deliveries/deliveries_md', deliveries: @order
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-tablet
        = render 'orders/order_summary'
    .text-center 
      = submit_tag 'Save and Continue', class: 'button btn btn-default mb-20'